.countdown {
  color: #fcfcfc;
  background-color: #ce9c9c; }
  .countdown__heading {
    display: block;
    font-family: 'Cookie';
    font-size: 7em;
    font-weight: 500;
    text-align: center; }
    @media (max-width: 768px) {
      .countdown__heading {
        font-size: 4em; } }
    @media (max-width: 480px) {
      .countdown__heading {
        font-size: 3.4em; } }
  .countdown__subtext {
    display: block;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase; }
  .countdown__date {
    display: block;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase; }
    @media (max-width: 480px) {
      .countdown__date {
        font-size: 1.5em;
        letter-spacing: 2px; } }
  .countdown__time-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em; }
    @media (max-width: 480px) {
      .countdown__time-wrapper {
        margin-top: 1em; } }
  .countdown__time {
    font-size: 5em;
    font-weight: 600; }
    @media (max-width: 768px) {
      .countdown__time {
        font-size: 3em; } }
    @media (max-width: 480px) {
      .countdown__time {
        font-size: 1em; } }
  .countdown__time-unit {
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase; }
    @media (max-width: 480px) {
      .countdown__time-unit {
        font-size: .7em;
        letter-spacing: 2px; } }
