@import 'shared/_mixins.scss';
@import 'shared/_colors.scss';

.photo-side-by-side {
  margin: 0 auto;
  max-width: 1280px;

  &--portrait {

    .photo-side-by-side__wrapper {
      justify-content: space-evenly;
    }

    .photo-side-by-side__column {
      width: calc(50% - 100px);

      @include desktop {
        width: calc(50% - 50px);
      }
      @include tablet {
        width: 80%;
        margin: 0 auto;
      }

      @include phone {
        width: 100%;
      }
    }

    .photo-side-by-side__photo {
      height: 550px;

      @include phone {
        height: 450px;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__column {
    width: calc(50% - 15px);
    text-align: center;

    @include tablet {
      width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
  }

  &__photo {
    height: 360px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 20px rgba(150, 150, 150, 0.45);
  }
}