.quote {
  background-color: #ce9c9c; }
  .quote__reading-well {
    max-width: 700px;
    color: #fff;
    text-align: center; }
  .quote__quote {
    font-size: 26px;
    font-weight: 300;
    line-height: 48px; }
    @media (max-width: 480px) {
      .quote__quote {
        font-size: 18px; } }
  .quote__emphasis {
    color: #dcb9b9;
    font-weight: 600; }
  .quote__spacer {
    height: 3px;
    width: 40%;
    margin: 30px auto;
    background-color: white; }
  .quote__author {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .quote__second-author {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px; }
