@import 'shared/_colors.scss';
@import 'shared/_mixins.scss';
.wedding-details {
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__column {
    width: calc(50% - 15px);

    @include tablet {
      width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
  }

  &__address {
    margin-bottom: 1em;
    font-style: normal;

    @include tablet {
      text-align: center;
    }
  }

  &__venue-name {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
  }

  &__venue-address {
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__link {
    color: $black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__venue-image {
    width: 100%;
    box-shadow: 0 2px 20px rgba(150, 150, 150, 0.45);
  }

  &__credit {
    font-size: 11px;
    display: block;
    line-height: 11px;
    color: $black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__timeline {
  }

  &__event-wrapper {
    display: flex;
  }

  &__time {
    flex: 0 0 81px;
    font-size: 24px;
  }

  &__ampm {
    vertical-align: super;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__event {
    position: relative;
    padding: 0 0 5em 2em;
    margin-left: 1.5em;
    border-left: 1px solid $black;
  }

  &__event-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;

    &:before {
      position: absolute;
      left: -5px;
      content: ' ';
      width: 10px;
      height: 10px;
      background-color: $accent;
      border-radius: 50%;
    }
  }

  &__event-details {
    display: block;
    font-size: 14px;
    font-style: italic;
  }
}