.rsvp {
  background-color: #ce9c9c;
  text-align: center; }
  .rsvp .section-title,
  .rsvp .text {
    color: #fcfcfc; }
  .rsvp__button {
    display: inline-block;
    padding: 1em 4em;
    margin-top: 30px;
    border: 2px solid #fcfcfc;
    border-radius: 3px;
    color: #fcfcfc;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: .2s all ease;
    text-decoration: none; }
    .rsvp__button:hover {
      background-color: #fcfcfc;
      color: #ce9c9c; }
