@import 'shared/_colors.scss';

.login-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $accent;

  &__field-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__field-label {
    font-size: 1.75em;
    font-weight: 300;
    color: $white;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  &__field-input {
    display: block;
    height: 36px;
    width: 100%;
    margin: 15px auto 0;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 16px;
  }

  &__submit {
    box-sizing: content-box;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: $accent;
    border: 1px solid $white;
    border-radius: 3px;
    color: $white;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: .2s all ease;
    
    &:hover {
      cursor: pointer;
      background-color: $white;
      color: $accent;  
    }
  }
}