@import 'shared/_colors.scss';
@import 'shared/_mixins.scss';

.hero {
  height: 100vh; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  @media (max-width: 1024px) {
    background-attachment: initial;
  }

  @include desktop {
    background-attachment: initial;
    background-position: 30% bottom;
  }

  @include phone {
    background-position: 33% bottom;
  }

  &__reading-well {
    height: 100%;
    position: relative;
  }

  &__headline {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: inherit;
    font-family: 'Cookie';
    font-size: 12em;
    font-weight: 400;
    line-height: 1;
    color: $accent;
    text-align: right;
    text-shadow: 1px 1px 0 #e1c3c3;

    @include desktop {
      font-size: 10em;
    }

    @include tablet {
    }

    @include phone {
      bottom: 7%;
      left: 0;
      font-size: 6em;
      text-align: left;
    }

    .italics {
      font-style: italic;
    }

    span {
      display: block;
    }
  }
}
