.hero {
  height: 100vh;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 768px) {
    .hero {
      background-position: center; } }
  @media (max-width: 480px) {
    .hero {
      background-attachment: initial; } }
  .hero__reading-well {
    height: 100%;
    position: relative; }
  .hero__headline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: inherit;
    font-family: 'Cookie';
    font-size: 12em;
    font-weight: 400;
    line-height: 1;
    color: #ce9c9c; }
    @media (max-width: 768px) {
      .hero__headline {
        font-size: 7em; } }
    @media (max-width: 480px) {
      .hero__headline {
        transform: none;
        top: 0;
        font-size: 6em; } }
    .hero__headline .italics {
      font-style: italic; }
    .hero__headline span {
      display: block; }
