.hero {
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; }
  @media (max-width: 992px) {
    .hero {
      background-attachment: initial;
      background-position: 30% bottom; } }
  @media (max-width: 480px) {
    .hero {
      background-position: 33% bottom; } }
  .hero__reading-well {
    height: 100%;
    position: relative; }
  .hero__headline {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: inherit;
    font-family: 'Cookie';
    font-size: 12em;
    font-weight: 400;
    line-height: 1;
    color: #ce9c9c;
    text-align: right;
    text-shadow: 1px 1px 0 #e1c3c3; }
    @media (max-width: 992px) {
      .hero__headline {
        font-size: 10em; } }
    @media (max-width: 480px) {
      .hero__headline {
        bottom: 7%;
        left: 0;
        font-size: 6em;
        text-align: left; } }
    .hero__headline .italics {
      font-style: italic; }
    .hero__headline span {
      display: block; }
