@import 'shared/_colors.scss';
@import 'shared/_mixins.scss';

.hero {
  height: 100vh; 
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    background-position: center;
  }

  @include phone {
    background-attachment: initial;
  }

  &__reading-well {
    height: 100%;
    position: relative;
  }

  &__headline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: inherit;
    font-family: 'Cookie';
    font-size: 12em;
    font-weight: 400;
    line-height: 1;
    color: $accent;

    @include tablet {
      font-size: 7em;
    }

    @include phone {
      transform: none;
      top: initial;
      bottom: 60px;
    }

    .italics {
      font-style: italic;
    }

    span {
      display: block;
    }
  }
}