@import 'shared/_colors.scss';
@import 'shared/_mixins.scss';

.hero {
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__reading-well {
    @include readingWell;
    height: 100%;
    position: relative;
  }

  &__headline {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: inherit;
    font-family: 'Cookie';
    font-size: 12em;
    font-weight: 400;
    line-height: 1;
    color: $white;

    @include tablet {
      font-size: 7em;
    }

    @include phone {
      text-align: center;
    }

    .italics {
      font-style: italic;
    }

    span {
      display: block;
    }
  }
}